.attenders {
  display: flex;
  flex-wrap: wrap;

  & > .item {
    width: 100%;

    @media (min-width: 500px) {
      width: 50%;
    }

    @media (min-width: 800px) {
      width: 20%;
    }
  }
}

.ch-item {
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center;
  cursor: pointer;

  &:hover {
    & .ch-info-back {
      opacity: 1;
    }
  }

  & img {
    width: 100%;
  }
}

.ch-info-back {
  background: var(--color--k-2);
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.ch-info {
  & h3 {
    color: var(--color--k-9);
    text-transform: uppercase;
    font-size: 1.2em;
    margin: 0 var(--medium);
    padding: var(--large) 0 0 0;
    height: 110px;
  }

  & p {
    color: var(--color--k-9);
    padding: var(--small);
    margin: 0 var(--medium);
    border-top: 1px solid var(--color--k-5);

    & a {
      color: var(--color--k-9);
      font-size: var(--font-size--small);
      padding-top: var(--small);
    }
  }
}
