@import "../node_modules/nakds/dist/css/nakDS.min.css";

@custom-media --small (min-width: 480px);
@custom-media --small--max (max-width: 799px);
@custom-media --medium (min-width: 800px);
@custom-media --medium--max (max-width: 1169px);
@custom-media --large (min-width: 1170px);
@custom-media --large--max (max-width: 1439px);
@custom-media --xlarge (min-width: 1440px);

:root {
  --color: #36d0b5;
  --color--darker: #26ad95;
  --color--c: var(--color);
}

img {
  border-radius: 3px;
}

.nk-color {
  color: var(--color);
}

.nk-cover__title {
  font-size: 12vw;
  line-height: 1.2;

  @media (--xlarge) {
    font-size: 8vw;
  }
}

video {
  width: 100%;
  display: block;
}

.menu-lang {
  position: fixed;
  top: 0;
  right: 0;
  padding: var(--small);
  background: var(--color--k-9);
  text-decoration: none;
  z-index: 3;
}

.nk-hero {
  height: 100vh;

  @media (--medium) {
    height: initial;
  }

  @media (--large) {
    height: 100vh;
  }
}

figure {
  background: linear-gradient(90deg, var(--color) 50%, transparent 50.1%);
}

.nk-grid-image--cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bg-x {
  background-image: url(../assets/img/x.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 20vw -20vh;
}


.has-date {
  position: relative;
}

.date {
  font-size: var(--font-size--small);
  color: var(--color--k-8);
  position: absolute;
  bottom: var(--small);
  right: var(--small);
  z-index: 1;
  padding: var(--x-small) var(--small);
  background: var(--color--k-2);
  border-radius: 3px;
}

.nk-shadow {
  box-shadow: 6px 6px 24px rgba(0, 0, 0, 0.8);
}

.nk-text-shadow {
  text-shadow: 6px 6px 24px rgba(0, 0, 0, 0.8);
}

.nk-underline {
  display: flex;
  flex-direction: column;
  gap: var(--small);
}

.nk-flex {
  display: flex;
}